<html lang="en">
<head>
    <link rel="icon"
          type="image/png"
          href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clipartkey.com%2Fmpngs%2Fm%2F145-1450089_python-flask-icon.png&f=1&nofb=1">
    <title>Todo App</title>
    <style>
        .error {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 400px;
        }

        li {
            clear: both;
        }

        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }

    </style>
</head>
<body>
<form id="form">
    <input type="text" id="description" name="description"/>
    <input type="submit" name="Create" value="Add todo"/>
</form>
<div id="error" class="error">Something went wrong!</div>
<h1>Todo list</h1>
<ul id="todos">
    {% for d in data %}
    <li>
        <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}/>
        {{ d.description}}
        <button class="dismiss-todo">&cross;</button>
    </li>
    {% endfor %}
</ul>
<script>

    const deletedTodos = document.querySelectorAll(".dismiss-todo");
    for (let i = 0; i < deletedTodos.length; i++) {
        const todo = deletedTodos[i];
        todo.onclick = function (e) {
            console.log("event", e);
            const todoId = e.target.previousElementSibling.dataset["id"];
            e.target.previousElementSibling.parentNode.remove();
            fetch(`/todos/${todoId}/delete`, {
                method: "DELETE",
                body: JSON.stringify({
                    "id": todoId
                }),
                headers: {
                    "Content-Type": "application/JSON"
                }
            })
                .catch(function () {
                        document.getElementById("error").className = "";
                        console.log("An error occurred")
                    }
                )
        }
    }

    const checkboxes = document.querySelectorAll(".check-completed");
    for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e) {
            console.log("event", e);
            const newCompleted = e.target.checked;
            console.log(newCompleted);
            const todoId = e.target.dataset["id"]
            fetch(`/todos/${todoId}/set-completed`, {
                method: "POST",
                body: JSON.stringify({
                    "completed": newCompleted
                }),
                headers: {
                    "Content-Type": "application/JSON"
                }
            })
                .catch(function () {
                        document.getElementById("error").className = "";
                        console.log("An error occurred")
                    }
                )
        }
    }

    const descInput = document.getElementById("description");
    document.getElementById("form").onsubmit = function (e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = "";
        fetch("/todos/create", {
            method: "POST",
            body: JSON.stringify({
                "description": desc
            }),
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(jsonResponse => {
                console.log("response", jsonResponse);
                let li = document.createElement("LI")
                li.innerText = desc;
                document.getElementById("todos").appendChild(li);
            })
            .catch(function () {
                    document.getElementById("error").className = "";
                    console.log("An error occurred")
                }
            )
    }
</script>
</body>
</html>